<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class='container'>
	<br><br>
	<a class='btn btn-default' href='#'>Button Text</a><br/>
	<br/>
	<span class='label label-default'>A Label</span><br/>
	<br/>
	<ul class='list-group'>
		<li class='list-group-item'>Item 1</li>
		<li class='list-group-item'>Item 2</li>
		<li class='list-group-item'>Item 3</li>
	</ul>
</div>