<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div style="background-color: black;">
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class='navbar-brand'>My first Nav</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a>Home</a></li>
					<li><a>About</a></li>
					<li><a>Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>