<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class='container'>
	<div class='row'>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
		<div class='col-md-1 bg-warning'><h1>1</h1></div>
	</div>
	<div class='row'>
		<div class='col-md-6 bg-info'><h1>col-6</h1></div>
		<div class='col-md-4 bg-danger'><h1>col-4</h1></div>
		<div class='col-md-2 bg-success'><h1>col-2</h1></div>
	</div>
</div>