<html ng-app='myFirstApp'>
<head>
	<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src='https://code.angularjs.org/1.4.5/angular.min.js '></script>
</head>
<body ng-controller='AppCtrl'>
	<div class='container'>
		<br><br>
		<button class='btn btn-lg btn-success' ng-click='click()'>Click Me!</button>
	</div>
<script>
var app = angular.module('myFirstApp', []);
app.controller('AppCtrl', function($scope) {
	$scope.click = function() {
		console.log("Clicked!");
	};
});
</script>