<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<br><br>
<div class='row'>
	<div class='col-md-4'></div>
	<div class='col-md-4'>
		<div class='form-group'>
			<input class='form-control'>
			<br><br>
			<textarea class='form-control'> </textarea>
		</div>
	</div>
	<div class='col-md-4'></div>
</div>