<script>
var n = 42;
var m = 27;
document.write(n + m);
document.write('<br>');
document.write(n * m);
document.write('<br>');
document.write(n / m);
document.write('<br>');
document.write(n % m);
document.write('<br>');

n = m * 2 + 10 / 3 + ((12 + 45) * n++);
document.write(n);
</script>