<script>
var greetings = ["Hello World", "Hola Mundo", "Hallo Welt"];

document.write(greetings[0]);
document.write('<br>');
document.write(greetings[1]);
document.write('<br>');
document.write(greetings[2]);
</script>