<script>
// Declaration
var debug = function(thing) {
	document.write('Type is ' + (typeof thing));
	document.write('<br>');
	document.write('String value is ' + thing);
	document.write('<br>');
};

var n = 56;
var bug = 'Dragon fly';

// Invocation
debug(n);
debug(bug);
</script>