<script>
var b = true;
if (b) {
	document.write("Yes!");
	document.write('<br>');
}

if (0 == 10) {
	document.write("Nope!");
	document.write('<br>');
}

if (0 === false) { // remember typeof?
	document.write('Nope!');
	document.write('<br>');
}

</script>