<!-- 
	Assignment 3 - Password validation
-->
<script>

// NOTE: You will not need to modify this array
// NOTE: const stands for constant and declares a variable that cannot be changed
const RICK = {
	username: "rgrimes",
	password: "sheiriff",
	greeting: "Howdy"
};

const DANY = {
	username: "dtargaryen",
	password: "khaleesi",
	greeting: "Your Grace?"
};

const TEZZ = {
	username: "Tezzeret",
	password: "c0dex3ther!um",
	greeting: "Greetings Seeker"
};

const USERS = [RICK, DANY, TEZZ];

/**
 * Modify the following functions to match the given username and password using the USERS array above.
 */

var findUser = function(username) {
	// Use the above defined USERS array, assume the array may change, 
	// meaning users may be added or removed.

	// Return a single user
	return null;
};

var isPasswordCorrect(user, password) {
	// return true if the password is equal, if not return false
	return false;
}

var getUserGreeting = function(username, password) {
	// Use the above defined functions to find the user and validate the password

	/**
 	* If the username is not found the function should return "NOT FOUND".
 	* If the password is incorrect to function should return "WRONG PASSWORD".
 	* If the user is found it should return the users greeting.
 	*/

	return "NOT FOUND";
};

// Bellow will test if your function is working correctly
document.write(getUserGreeting("some-user-1", "password")); // Should output "NOT FOUND"

document.write("<br>"); // new line

document.write(getUserGreeting("rgrimes", "sheiriff")); // Should output "Howdy"

document.write("<br>");

document.write(getUserGreeting("Tezzeret", "wrong-password")); // Should output "WRONG PASSWORD"

document.write("<br>");


</script>